/* Global */

body, html, div, li, ul, a{
margin:0;
padding:0;
border:0;
font-size:100%;
font:inherit;
}
body {
font-family: "Lato","Open Sans","Calibri";
background: transparent url("images/stardust.png") repeat scroll 0 0;
}

#big-box {
    margin: 50px auto;
    width: 80%;
    background:#fff;
border-radius:5px;
}

/* Menu bar and logo */

#nav {
    background: rgb(244, 244, 244) none repeat scroll 0% 0%;
    padding: 25px;
    height: 50px;
border-radius:5px;
}
#nav ul {
    float: right;
    margin-right: 35px;
    margin-top: 19px;
}
#nav li {
    display: inline-block;
    padding: 0px 16px;
}
#nav li a {
    text-decoration: none;
    color: rgb(34, 34, 34);
    font-weight: 700;
    font-size: 17px;
    transition: all ease 0.4s;
}
#nav li a:hover {
    color:#ffbd00;
}
#logo {
    float: left;
    margin-left: 24px;
    font-size: 32px;
    font-family: Open Sans;
    font-weight: 900;
}

/* Intro */

.overlay {
    background:rgba(0,0,0,0.5);
    height:100%;
}
.intro {
    background: transparent url("images/9.jpg") no-repeat 0% 85% / cover;
    height: 400px;
    color: #fff;
}
.intro-box {
    text-align: center;
    padding-top: 110px;
}
.large {
    font-size: 40px;
    line-height: 0.1px;
}
.small {
    font-size: 20px;
    margin-bottom: 40px;
}
.button a:hover {
    background-color: #fff;
    color: #222;
}
.button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    padding: 10px 18px;
    font-weight: bold;
    transition: all ease-in-out 0.4s;
}

/* About Us */

#about {
    padding: 40px;
    background: rgb(244, 244, 244) none repeat scroll 0% 0%;
}

h1 {
  border-bottom: 5px double #222;
  display: block;
  font-size: 40px;
  margin: 0 0 25px 8px;
  width: 250px;
  padding-bottom: 10px;
}
h1 span {
    color: #ffb400;
}
#about img {
    width: 37%;
    display: inline-block;
}
#about p {
    width: 56%;
    display: inline-block;
    letter-spacing: 1px;
    line-height: 1.5em;
    margin-left: 35px;
}

/* The Team */

.team {
    padding: 40px;
    text-align:center;
}
.memb-info {
    background: rgba(52, 152, 219, 0.9) none repeat scroll 0 0;
    height: 100%;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
transition:all ease 0.4s;
opacity:0;
}

.memb-info:hover {
    opacity: 1;
}
.member > img {
    height: 200px;
}
.member {
    display: inline-block;
    margin-right: 19px;
    margin-top: 32px;
    overflow: hidden;
    position: relative;
    width: 22%;
}
.memb-info h4 {
    font-size: 22px;
    margin-top: 55px;
}

.team p, .team h1, .Products h1, .Products p {
    text-align: left;
}

/* Hiring */

.hiring {
    background: rgba(0, 0, 0, 0) url("images/3.jpg") repeat scroll 0 500px / cover ;
    color: #fff;
    height: 250px;
    text-align: center;
}
.hiring .overlay {
    background: rgba(52, 152, 219, 0.8) none repeat scroll 0 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5em;
}
.text-box {
    padding: 50px 160px;
}

.Products {
    padding: 40px;
    text-align:center;
}
.box img {
    width: 100%;
}

.box {
  border: 8px solid #222;
  display: inline-block;
  margin: 10px;
  overflow: hidden;
  padding: 10px;
  text-align: center;
  width: 28%;
  transition: all ease 0.5s;
}
.box:hover {
    border-color:#ffb400;
}

#contact-us {
  background:url('images/contact-bg.jpg');
  background-size: cover;
  text-align:center;
  color:#fff;
  position:relative;
}
#contact-us h2 {
  font-size: 50px;
  font-weight: 100;
}
#contact-us .overlay {
    padding: 40px;
}

#form {
  position: relative;
  width: 650px;
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 600px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  outline: none;
  color: #fff;
  border: solid 1px #eee;
  border-bottom: none;
  transition: all 0.3s ease-in-out;
}

input:hover {
  background: #fff;
  color: #222;
}

textarea {
  width: 600px;
  max-width: 600px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  background: transparent;
  outline: none;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  border: solid 1px #eee;
  transition: all 0.3s ease-in-out;
  margin: 0;
}

textarea:hover {
  background: #fff;
  color: #222;
}

#submit {
  width: 631px;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #fff;
  cursor: pointer;
  border: solid 1px #eee;
  border-top: none;
}

#submit:hover {
  color: #222;
}

.bottom-text {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  margin: 0 auto;
  width: 80%;
  font-size: 14px;
}
